#app
  p _vue.jade {{ foo }}
  b-icon(icon='home')

link(rel='stylesheet' href='//cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css')
script(src='https://cdn.jsdelivr.net/npm/vue')
script(src='https://unpkg.com/buefy')

script(src='./vue-test.js')