h1 Welcome to Harp.
h3 This is yours to own. Enjoy.

.testing bacon pancakes 
.testing makin bacon pancakes 

ul
each p in partners
  li !{p.name}
    | is #{p.age}

a.button.is-primary Primary
a.button.is-link Link
a.button.is-info Info
a.button.is-success Success
a.button.is-warning Warning
a.button.is-danger Danger

:markdown
  # now I can write Markdown here

  This is my Markdown post.
  1. Chocolate
  2. Strawberry
  3. Vanilla

img(src='e3f.png')

pre #{ JSON.stringify(public, null, '\t') }

script(src='./test.js')

script.
  console.log(!{JSON.stringify(public)})